<h1>Thank you!</h1>
<p>
  <strong>First Name:</strong>
  <%= @talent.FName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @talent.LName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @talent.email %>
</p>

<p>
  <strong>Portfolio Link:</strong>
  <%= @talent.portfolioLink %>
</p>

<p>
  <strong>LinkedIn Link:</strong>
  <%= @talent.linkedinLink %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @talent.resume %>
</p>

<p>
  <strong>Video:</strong>
  <%= @talent.video %>
</p>


