<h1>Thank you!</h1>
<p>
  <strong>First Name:</strong>
  <%= @talent.FName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @talent.LName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @talent.email %>
</p>

<p>
  <strong>Portfolio Link:</strong>
  <%= @talent.portfolioLink %>
</p>

<p>
  <strong>LinkedIn Link:</strong>
  <%= @talent.linkedinLink %>
</p>

<p>
  <strong>Resume:</strong>
  <%= link_to resume_tag(talent.resume.url, class: 'media-object'), talent.resume.url, target: '_blank' %>
</p>

<p>
  <strong>Video:</strong>
  <%= @talent.video %>
</p>

<%= link_to 'Back', talents_path %>
