<%= form_for @company do |f| %>
 
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@company.errors.count, "error") %> prohibited
        this company from being saved:
      </h2>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </p>

  <p>
    <%= f.label :contactName %><br>
    <%= f.text_field :contactName %>
  </p>

  <p>
    <%= f.label :contactEmail %><br>
    <%= f.text_field :contactEmail %>
  </p>

  <p>
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </p>

  <p>
    <%= f.label :video %><br>
    <%= f.text_field :video %>
  </p>

  <p>
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
